<form action='/addNewGame' method='POST' id='add-game-form' >
    <label for='title'>
        Title:
        <input type='text' name='title' id='title' minlength='2' maxlength='255' placeholder='Black' value="<%= locals.inputValues.title ? locals.inputValues.title : '' %>"  required>
    </label>
    <label for='description'>
        Description:
        <input type='text' name='description' id='description' minlength='10' placeholder='First person shooter develop by Criterion Games.' value="<%= locals.inputValues.description ? locals.inputValues.description : '' %>" required>
    </label>
    <label for='release_date'>
        Release date:
        <input type='date' name='release_date' id='release_date' placeholder='2004-01-01'  value="<%= locals.inputValues.release_date ? locals.inputValues.release_date : '' %>" required>
    </label>
    <label for='coverUrl'>
        <div class='text'>
            <p>
                Game cover URL:
            </p>
            <div class='info-bubble'>
                <span class='material-symbols-rounded'>
                    info
                </span>
                <p>
                    You can look for PS2 game covers here
                    <a href='https://www.mobygames.com/platform/ps2/' target='about_blank'>
                        here
                    </a>
                    .
                </p>
            </div>
        </div>
        <input type='url' name='coverUrl' id='coverUrl' placeholder='https://cdn.mobygames.com/b8c2cd76-abaf-11ed-aecf-02420a000198.webp' value="<%= locals.inputValues.coverUrl ? locals.inputValues.coverUrl : '' %>" required>
    </label>
    <div class='divider'>
    </div>
    <h4> Select the genres of this game </h4>
    <% if (locals.genres) { %>
        <div class='options-container'>
            <% genres.forEach((genre) => { %>
                <div class='option'>
                    <input data-genre-checkbox type='checkbox' name='genres' id='<%= genre.name %>' value='<%= genre.id %>' >
                    <label for='<%= genre.name%>'>
                        <%= genre.name %>
                    </label>
                </div>
            <% }) %>
        </div>
    <% } %>
    <div class='divider'>
    </div>
    <h4> Select the publisher of this game</h4>
    <% if (locals.publishers) { %>
        <div class='options-container'>
            <% publishers.forEach((publisher,index) => { %>
                <div class='option'>
                    <input type='radio' name='publisherId' id='<%= publisher.name %>' value='<%= publisher.id %>' <%= index === 0 ? 'required' : null %>>
                    <label for='<%= publisher.name %>'>
                        <%= publisher.name %>
                    </label>
                </div>
            <% }) %>
        </div>
    <% } %>
    <button class='submit-form-button' type='submit'>Create entry for this game</button>
</form>
