<div data-edit-game-details-modal class="modal">
    <form data-edit-game-details-form class="form edit" action="/games/update/<%= gameId %>" method="POST">
        <div class="inputs-container">
            <label class="label" for="updatedGameTitle">
                Edit this game's title:
                <input class="input yellow" minlength="3" type="text" name="updatedGameTitle"  id="updatedGameTitle" value="<%= gameData.title %>" required/>
            </label>
            <div class="vertical-separator"></div>
            <label class="label" for="updatedGameCoverUrl">
                Edit this game's url cover:
                <input class="input yellow" type="url" name="updatedGameCoverUrl" id="updatedGameCoverUrl" value="<%= gameCover.cover %>" required/>
            </label>
            <div class="vertical-separator"></div>
            <label class="label" for="updatedGameReleaseDate">
                Edit this game's release date:
                <input class="input yellow" type="datetime-local" name="updatedGameReleaseDate"  id="updatedGameReleaseDate" required/>
            </label>
        </div>
        <label class="label" for="updatedGameDescription">
            Edit this game's description:
            <input class="input yellow" minlength="5" type="text" name="updatedGameDescription"  id="updatedGameDescription" value="<%= gameData.description %>" required/>
        </label>
        <% if(locals.gameGenres) { %>
            <div class="form-field-container">
                <p>
                    Current genres for this title (select to delete them)
                </p>
                <div class="options-container" >
                    <% gameGenres.forEach((genre) => { %>
                        <div class='option red'>
                            <input data-genre-box type="checkbox" name='targetGamesGenres[]' id='current-<%= genre.genre %>' value='{"gg_id": "<%= genre.gg_id %>", "id": "<%= genre.id %>"}'/>
                            <label for="current-<%= genre.genre %>">
                                <%= genre.genre %>
                            </label>
                        </div> 
                    <% }) %>
                </div>
            </div>
        <% } %>
        <% if(locals.genres) { %>
            <div class="form-field-container">
                <p>
                    Add new genres to this game (select to add)
                </p>
                <div class="options-container" >
                    <% genres.forEach((genre) => { %>
                        <div class='option'>
                            <input data-genre-box type="checkbox" name='updatedGameGenres[]' id='updated-<%= genre.name %>' value='<%= genre.id %>'>
                            <label for="updated-<%= genre.name %>">
                                <%= genre.name %>
                            </label>
                        </div> 
                    <% }) %>
                </div>
            </div>
        <% } %>
        <% if(locals.publishers) { %>
            <div class="form-field-container">
                <p>
                    Change the publisher for this game
                </p>
                <div class='options-container' >
                    <% publishers.forEach((publisher,index) => { %>
                        <div class='option blue'>
                            <input type='radio' name='updatedPublisherId' id='<%= publisher.name %>' value="<%= publisher.id %>"  <%= publisher.name === gamePublisher.publisher ? "checked" : '' %>/>
                            <label for="<%= publisher.name %>">
                                <%= publisher.name %>
                            </label>
                        </div>
                    <% }) %>
                </div>
            </div>
        <% } %>
        <label class="label" for="adminPass">
            Enter the admin password to confirm the edit:
            <input class="input yellow" type="password" name="adminPass"  id="adminPass" required/>
        </label>
        <div class="buttons-container">
            <button class="button cancel" data-hide-edit-modal type='button'>
                Cancel edit 
            </button>
            <button class="button confirm" type="submit">
                Edit game info
            </button>
        </div>
    </form>
</div>
