<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <main class='about-page'>
            <h1>
                About this website
            </h1>
            <p>This website is a project made for The Odin Project.</p>
            <h2>The tools I used to make this website</h2>
            <% if (locals.tools) { %>
                <div class='tools-container'>
                    <% tools.forEach((tool) => { %>
                        <div class='tool'>
                            <div class='background'></div>
                            <a class='tool-name' href='<%= tool.link %>' target='about_blank'>
                                <%= tool.name %>
                            </a>
                        </div>
                    <% }) %>
                </div>
            <% } %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
