<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <main class='games'>
            <aside class="sort-sidebar">
                <div class="filter">
                    <h4>Filter by genre</h4>
                    <% if (locals.genres ) { %>
                        <form class='filter-genres options-container' action='/games/' method='GET'>
                            <% genres.forEach((genre) => { %>
                                <div class='option'>
                                    <input type="checkbox" name='genreFilters[]' id='<%= genre.name %>' value='<%= genre.id %>'>
                                    <label for="<%= genre.name %>">
                                        <%= genre.name %>
                                    </label>
                                </div> 
                            <% }) %>
                            <button type='submit'>Filter by genre</button>
                        </form>
                    <% } %>
                </div>
                <div class="filter">
                    <h4>Filter by publishers</h4>
                    <% if (locals.publishers) { %>
                        <form class='filter-publishers options-container'>
                            <% publishers.forEach((publisher) => { %>
                                <div class='option'>
                                    <input type="checkbox" name='publisherFilters[]' id='<%= publisher.name %>' value='<%= publisher.id %>'>
                                    <label for="<%= publisher.name %>">
                                        <%= publisher.name %>
                                    </label>
                                </div>  
                            <% }) %>
                        <button type="submit">Filter by publisher</button>
                        </form>
                    <% } %>
                </div>
            </aside>
            <% if (locals.games) { %>
                <div class='games-grid' style="<%= locals.filters ? 'grid-template-rows: 75px repeat(auto-fit, 375px);' : 'grid-template-rows: repeat(auto-fit, 375px);' %>">
                    <div class='filters' <%= locals.filters ? '' : "style=display:none;" %>>
                        <% if (locals.filters) { %>
                            <p>Filtering by <%= locals.filteringBy %>:</p>
                            <ul>
                                <% filters.forEach((genre) => { %>
                                    <li>
                                        <%= genre.name %>
                                    </li>
                                <% }); %>
                            </ul>
                        <% } %>
                    </div> 
                    <% if (games.length === 0) { %>
                        <p class='no-matches'>No records matched your query.</p>
                    <% } %>
                    <% games.forEach((game) => { %>
                        <div class="game" >
                            <img src="<%= game.cover %>" alt="<%= game.title %>" onerror="this.onerror=null; this.src='/images/ps2_games.jpg'">
                            <div class="gradient-overlay"></div>
                            <a href="/games/<%= game.id %>">
                                <h3>
                                    <%= game.title %>
                                </h3> 
                            </a>
                        </div>
                    <% }) %>
                </div>
            <% } %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
