<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title><%= title %></title>
    </head>
    <body>
        <h1>
            <%= title %>
        </h1>
        <% if (locals.games) { %>
            <ul class='games-grid'>
                <% games.forEach((game) => { %>
                    <li>
                        <a href="/games/<%= game.id %>">
                            <p>
                                <%= games.title %>
                            </p>
                            <p>
                                The id of this game is:
                                <%= game.id %>
                            </p>
                            <img src="<%= game.cover ? game.cover : '../../public/images/ps2_games.jpg' %>" onerror="this.src='/images/ps2_games.jpg'"/>
                            <p>
                                <%= game.description %>
                            </p>
                            <p>
                                <%= game.release_date %>
                            </p>
                        </a>
                        <form action="/games/delete/<%= game.id %>" method="POST">
                            <button type='submit'>Delete this game</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </body>
</html>
