<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script defer src='/js/games.js'></script>
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <main class='games'>
            <aside class="sort-sidebar">
                <form class='search-form' action="/games/search" action='GET'>
                    <label for="searchTerm">
                        Search game title
                        <input type="text" name="searchTerm" id="searchTerm" placeholder="Game title here..." required>
                    </label>
                    <button type="submit">Search</button>
                </form>
                <div class="filter">
                    <button data-toggle-genres type='button'>
                        Filter by genres
                        <span class='material-symbols-rounded genres-icon-span'>
                            keyboard_arrow_down
                        </span>
                    </button>
                    <% if (locals.genres ) { %>
                        <form data-genres-form class='filter-genres options-container' action='/games/' method='GET'>
                            <% genres.forEach((genre) => { %>
                                <div class='option'>
                                    <input data-genre-box type="checkbox" name='genreFilters[]' id='<%= genre.name %>' value='<%= genre.id %>'>
                                    <label for="<%= genre.name %>">
                                        <%= genre.name %>
                                    </label>
                                </div> 
                            <% }) %>
                            <button type='submit'>Filter by genre</button>
                        </form>
                    <% } %>
                </div>
                <div class="filter">
                    <button data-toggle-publishers type="button">
                        Filter by publishers
                        <span class='material-symbols-rounded publishers-icon-span'>
                            keyboard_arrow_down
                        </span>
                    </button>
                    <% if (locals.publishers) { %>
                        <form data-publishers-form class='filter-publishers options-container'>
                            <% publishers.forEach((publisher) => { %>
                                <div class='option'>
                                    <input data-publisher-box type="checkbox" name='publisherFilters[]' id='<%= publisher.name %>' value='<%= publisher.id %>'>
                                    <label for="<%= publisher.name %>">
                                        <%= publisher.name %>
                                    </label>
                                </div>  
                            <% }) %>
                        <button type="submit">Filter by publisher</button>
                        </form>
                    <% } %>
                </div>
            </aside>
            <% if (locals.games) { %>
                <div class='games-grid' >
                    <div class='filters' <%= locals.filters ? '' : "style=display:none;" %>>
                        <% if (locals.filters) { %>
                            <p>Filtering by <%= locals.filteringBy %>:</p>
                            <ul>
                                <% filters.forEach((genre) => { %>
                                    <li>
                                        <%= genre.name %>
                                    </li>
                                <% }); %>
                            </ul>
                        <% } %>
                    </div> 
                    <% if (locals.searchResult) { %>
                        <p class='search-result'><%= searchResult %></p>
                    <% } %>
                    <% if (games.length === 0) { %>
                        <p class='no-matches'>No records matched your query.</p>
                    <% } else { %>
                        <div class='games-container'>
                            <% games.forEach((game) => { %>
                                <div class="game" >
                                    <img src="<%= game.cover %>" alt="<%= game.title %>" onerror="this.onerror=null; this.src='/images/ps2_games.jpg'">
                                    <div class="gradient-overlay"></div>
                                    <a href="/games/<%= game.id %>">
                                        <h3>
                                            <%= game.title %>
                                        </h3> 
                                    </a>
                                </div>
                            <% }) %>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
