<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <main class='genres-page'>
            <h1>
                PS2 games genres list
            </h1>
            <% if (locals.error) { %>
                <div class='error'>
                    <%= error %>
                </div>
            <% } %>
            <% if (locals.genres ) { %>
                <ul class='genres-container'>
                    <% genres.forEach((genre) => { %>
                        <li class='genre'>
                            <p>
                                <%= genre.name %>
                            </p>
                            <form action="/genres/delete/<%= genre.id %>" method='POST'>
                                <button title='Delete this tag' class='delete-button' type="submit">
                                    <span class='material-symbols-rounded'>
                                        close
                                    </span>
                                </button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
            <form class='add-genre-form' action="/genres/addGenre" method='POST'>
                <label for="genreName">
                    Add a new genre tag
                    <input type="text" name="genreName" id='genreName' minlength='3' placeholder='Action' required>
                </label>
                <button class='add-genre-button' type='submit'>Add</button>
            </form>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
