<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script defer src='/js/genres.js'></script>
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <div data-delete-genre-modal class='delete-genre-modal'>
            <form data-delete-genre-form class='delete-form' action="#" method='POST'>
                <label for="deleteGenrePass">
                    Enter the admin password to delete this genre
                    <input data-delete-genre-pass type="password" name="deleteGenrePass" id="deleteGenrePass" required>
                </label>
                <div class='buttons-container'>
                    <button data-delete-genre-button-cancel >
                        Cancel
                    </button>
                    <button data-delete-genre-button type='submit' >
                        Confirm
                    </button>
                </div>
            </form>
        </div>
        <main class='genres-page'>
            <h1>
                PS2 Games Genres List
            </h1>
            <% if(locals.successDeleteResponse || locals.failedDeleteResponse) { %>
                <p class='<%= locals.successDeleteResponse ? "success-message" : "error" %>'>
                    <%= locals.successDeleteResponse ? successDeleteResponse : failedDeleteResponse %>
                </p>
            <% } %>
            <% if (locals.error) { %>
                <p class='error'>
                    <%= error %>
                </p>
            <% } %>
            <% if (locals.successMessage) { %>
                <p class='success-message'>
                    <%= successMessage %>
                </p>
            <% } %>
            <% if (locals.genres ) { %>
                <ul class='genres-container'>
                    <% genres.forEach((genre) => { %>
                        <li class='genre'>
                            <p>
                                <%= genre.name %>
                            </p>
                            <button data-delete-genre-button onclick='setTargetGenre(<%= genre.id %>)' title='Delete this tag' class='delete-button' type="submit">
                                <span class='material-symbols-rounded'>
                                    close
                                </span>
                            </button>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
            <div class='separator'></div>
            <% if(locals.validationErrors) { %>
                <ul class="validation-errors">
                <p>Please correct the following errors in your input:</p>
                    <% validationErrors.forEach((error) => { %>
                        <li>
                            <%= error.msg %>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
            <form class='add-genre-form' action="/genres/addGenre" method='POST'>
                <label for="genreName">
                    Add a new genre
                    <input type="text" name="genreName" id='genreName' minlength='3' placeholder='Action' value="<%= locals.userInput ? locals.userInput : '' %>" required>
                </label>
                <button class='add-genre-button' type='submit'>Add</button>
            </form>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
