<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/variables.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/index.css">
        <script defer src="/js/index.js"></script>
    </head>
    <body>
        <main class='index-page'>
            <aside class='sidebar'>
                <div class='decoration-line'>
                    <div class='vertical-line'>
                    </div>
                </div>
                <div class='links'>
                    <div class='logo'>
                        <img src="/images/ps2-logo.png" alt="ps2 logo">
                        <h1>
                            Games Vault
                        </h1>
                    </div>
                    <a href='/games'>
                        <div class='indicator'>
                            <div class='diamond'>
                            </div>
                        </div>
                        <span>Games</span>
                    </a>
                    <a data-genres-link href='/genres' class='links-with-hidden-tags'>
                        <div class='indicator'>
                            <div class='diamond'>
                            </div>
                        </div>
                        <span>
                            Genres
                        </span>
                    </a>
                    <a data-publishers-link href='/publishers' class='links-with-hidden-tags'>
                        <div class='indicator'>
                            <div class='diamond'>
                            </div>
                        </div>
                        <span>
                            Publishers
                        </span>
                    </a>
                    <a href='/about'>
                        <div class='indicator'>
                            <div class='diamond'>
                            </div>
                        </div>
                        <span>
                            About
                        </span>
                    </a>
                    <a href='/addNewGame'>
                        <div class='indicator'>
                            <div class='diamond'>
                            </div>
                        </div>
                        <span>
                            Add new game
                        </span>
                    </a>
                </div>
                <div class='options-container'>
                    <% if(locals.genres) { %>
                        <ul data-genres-tags-container class='hidden-tags'>
                            <% genres.forEach((genre, index) => { %>
                                <a href="/games/?genreFilters%5B%5D=<%= genre.id %>" style="animation-delay: <%= index * 50 %>ms">
                                    <div class='black-overlay'>
                                        <%= genre.name %>
                                    </div>
                                </a>
                            <% }) %>
                        </ul>
                    <% } %>
                    <% if (locals.publishers) { %>
                        <ul data-publishers-tags-container class="hidden-tags">
                            <% publishers.forEach((publisher, index) => { %>
                                <a href="/games/?publisherFilters%5B%5D=<%= publisher.id %>" style="animation-delay: <%= index * 25 %>ms">
                                    <div class='black-overlay'>
                                        <%= publisher.name %>
                                    </div>
                                </a>
                            <% }) %>
                        </ul>
                    <% } %>
                </div>
            </aside>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
