<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script defer src="/js/publishers.js"></script>
    </head>
    <body>
        <%- include('../partials/navbar.ejs') %>
        <div data-delete-publisher-modal class='delete-publisher-modal'>
            <form data-delete-publisher-form class='delete-form' action="#" method='POST'>
                <label for="deletePublisherPass">
                    Enter the admin password to delete this publisher
                    <input data-delete-publisher-pass type="password" name="deletePublisherPass" id="deletePublisherPass" required>
                </label>
                <div class='buttons-container'>
                    <button data-delete-publisher-button-cancel >
                        Cancel
                    </button>
                    <button data-delete-publisher-button type='submit' >
                        Confirm
                    </button>
                </div>
            </form>
        </div>
        <div data-edit-publisher-modal class='edit-publisher-modal'>
            <form data-edit-publisher-form class='edit-form' action="#" method='POST'>
                <label for="newPublisherValue">
                    New publisher value:
                    <input data-new-publisher-value type="text" name="newPublisherValue" id="newPublisherValue" >
                </label>
                <label for="editPublisherPass">
                    Enter the admin password to edit this publisher
                    <input data-edit-publisher-pass type="password" name="editPublisherPass" id="editPublisherPass">
                </label>
                <div class='buttons-container'>
                    <button data-edit-publisher-button-cancel type='button' >
                        Cancel
                    </button>
                    <button data-edit-publisher-button type='submit' >
                        Confirm
                    </button>
                </div>
            </form>
        </div>
        <main class='publishers-page'>
            <h1>
                PS2 Game Publishers List
            </h1>
            <% if(locals.publishers) { %>
            <ul class='publishers-container'>
                <% publishers.forEach((publisher) => { %>
                    <li data-publisher-tag  class='publisher' onclick="setEditTargetPublisher(<%= publisher.id %>); setTargetPublisherName('<%= publisher.name %>');">
                        <p>
                            <%= publisher.name %>
                        </p>
                        <button data-delete-publisher-button onclick='setTargetPublisher(<%= publisher.id %>);' title='Delete this tag' class='delete-button' type='submit'>
                            <span class='material-symbols-rounded'>
                                close
                            </span>
                        </button>
                    </li>
                <% }) %>
            </ul>
            <% } %>
            <div class='separator'></div>
            <% if (locals.validationErrors) { %>
                <ul class='validation-errors'>
                    <p>The provided input has the following problems:  </p>
                    <% validationErrors.forEach((error) => {  %>
                        <li>
                            <%= error.msg %>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
            <form class='add-publisher-form' action="/publishers/addPublisher" method='POST'>
                <label for="publisherName">
                    <p>Add a new publisher</p>
                    <input type="text" name='publisherName' id="publisherName" placeholder="Activision" minlength="3" value="<%= locals.userInput ?  locals.userInput : '' %>" required>
                </label>
                <button class='add-publisher-button' type='submit'>Add publisher</button>
            </form>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
